Repository reactjs/de.react.dev, pull requests merged in 2019-02, with the labels that each got.

#14 docs/components-and-props.md
  content/docs/components-and-props.md
  examples/components-and-props/composing-components.js
  examples/components-and-props/rendering-a-component.js
Labels: needs review

#5 Home page
  content/home/examples/a-component-using-external-plugins.js
  content/home/examples/a-component-using-external-plugins.md
  content/home/examples/a-simple-component.js
  content/home/examples/a-simple-component.md
  content/home/examples/a-stateful-component.js
  content/home/examples/a-stateful-component.md
  content/home/examples/an-application.js
  content/home/examples/an-application.md
  content/home/marketing/component-based.md
  content/home/marketing/declarative.md
  content/home/marketing/learn-once-write-anywhere.md
Labels: needs answers

#8 docs/rendering-elements.md
  content/docs/rendering-elements.md
  content/images/docs/granular-dom-updates.gif
  examples/rendering-elements/render-an-element.js
  examples/rendering-elements/update-rendered-element.js
Labels: needs review

#17 docs/handling-events.md
  content/docs/handling-events.md
Labels: needs review

#30 Translate Composition vs Inheritance
  content/docs/composition-vs-inheritance.md
Labels: needs answers, needs review

#16 docs/nav.yml
  content/docs/nav.yml
Labels: 🚧 work in progress 🚧

#31 Translated create-a-new-react-app.md
  content/docs/create-a-new-react-app.md
Labels: needs review
